{
  "root": true,
  "env": {
    "es2020": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "require-jsdoc": [
      "off"
    ],
    "prefer-arrow-callback": [
      "error"
    ],
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": [
          "/"
        ]
      }
    ]
  }
}